# Conexión a Base de Datos (PostgreSQL)
# Ejemplo: postgresql://usuario:password@host:5432/nombre_db
DATABASE_URL=""

# Cloudinary (Gestión de Imágenes)
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""

# URL del sitio en producción (Opcional, para SEO/Metadata)
NEXT_PUBLIC_SITE_URL="https://tu-proyecto.vercel.app"
