@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent-color: #F42559;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-playfair: var(--font-playfair-display);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}




.text-accent { color: var(--accent-color); }
.bg-accent { background-color: var(--accent-color); }
.border-accent { border-color: var(--accent-color); }
.fill-accent { fill: var(--accent-color); }
.shadow-accent { --tw-shadow-color: var(--accent-color); box-shadow: var(--tw-shadow); }



/* Custom Scrollbar para el Modal */
/* globals.css */

/* Scrollbar personalizada para áreas de texto */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
   /* Usamos la variable de acento si quieres, o un gris más claro */
  background: rgba(255, 255, 255, 0.4); 
}


.perspective-1000 { perspective: 1000px; }
.preserve-3d { transform-style: preserve-3d; }
.backface-hidden { backface-visibility: hidden; }
.rotate-y-180 { transform: rotateY(180deg); }


